/** My utilities */
.border-salem {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.entry-salem {
  position: relative;
}

.entry-salem::before {
  font-weight: bold;
  content: "—"; /* em dash */
  position: absolute;
  left: -2em;
}
