/** My utilities */
.bs-salem {
  box-shadow: 5px 5px 0;
  padding-left: 3px;
  padding-bottom: 3px;
}

.entry-salem {
  position: relative;
}

.entry-salem::before {
  font-weight: bold;
  content: "—"; /* em dash */
  position: absolute;
  left: -2em;
}