{# 
    All posts end up in this sucker.
    To do: 
    - Update metadata to reflect the post accurately.
#}
<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Salem.io — {{ title }}</title>
        <meta name="description" content="This is my website."/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#ffd700"/>

        <meta name="author" content="Salem Hilal"/>
        <meta name="og:title" content="{{ title }}"/>
        <meta name="og:url" content="{{ globals.host }}{{ page.url }}"/>
        <meta name="og:type" content="article"/>
        <meta name="og:description" content="{{ description }}"/>
        <meta name="og:image" content="{{ globals.host }}/img/thumb.png"/>
        <meta name="profile:first_name" content="Salem"/>
        <meta name="profile:last_name" content="Hilal"/>

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@technoheads"/>
        <meta name="twitter:title" content="{{ title }} "/>
        <meta name="twitter:description" content="{{ description }}"/>
        <meta name="twitter:image" content="{{ globals.host }}{{ featuredImg }}"/>
        <meta name="twitter:image:alt" content="{{ featuredImgAlt }}"/>

        <script>document.documentElement.classList.remove("no-js");window.matchMedia("(prefers-color-scheme: dark)").matches?document.documentElement.classList.add("dark"):document.documentElement.classList.remove("dark")</script>
        <link rel="stylesheet" href="/style.css" type="text/css" media="all"/>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    </head>

	<body class="bg-yellow fade-in black">

        <div class="mw7 center pa3 pa4-ns">
            {% include 'partials/browserupgrade.njk' %}
            {% include 'partials/menu.njk' %}
            <div class="mb4 mt5 mb5-ns mt6-ns">
                <small>{{ page.date | formatDate }}</small>
                {{ content | safe }}

                <div class="f4 b mb4 mt4 tc">—</div>
            </div>
        </div>
        {% set commentData = { 'url': page.url, 'id': page.fileSlug } %}
        {% include 'partials/comments.njk' %}
        {% include 'partials/scripts.njk' %}

        <div class="tc f7 mb3">
            © Salem Hilal. Do you know the konami code? 
        </div>
    </body>
</html>
