---
permalink: writing/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html class="no-js" lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<title>{{ title }}</title>
		<meta name="description" content="This is my website."/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="theme-color" content="#ffd700"/>

		<meta name="author" content="Salem Hilal"/>
		<meta name="og:title" content="My name is Salem."/>
		<meta name="og:url" content="https://salem.io"/>
		<meta name="og:type" content="profile"/>
		<meta name="og:description" content="This is my website."/>
		<meta name="og:image" content="https://salem.io/img/thumb.png"/>
		<meta name="profile:first_name" content="Salem"/>
		<meta name="profile:last_name" content="Hilal"/>

		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@technoheads"/>
		<meta name="twitter:title" content="My name is Salem."/>
		<meta name="twitter:description" content="This is my website."/>
		<meta name="twitter:image" content="https://salem.io/img/thumb.png"/>
		<meta name="twitter:image:alt" content="My name is Salem. I care about web performance, front-end infrastructure, and public transportation. I am a software engineer on Etsy's Web Platform team."/>

		<script>
			document.documentElement.classList.remove("no-js");
		</script>

		<link rel="stylesheet" href="/style.css" type="text/css" media="uhh" onload="this.media='all'"/>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">


	</head>

	<body
		class=" bg-yellow fade-in">
		<!--[if IE]>  
		        <p class="browserupgrade">
		            You are using an <strong>outdated</strong> browser. Please
		            <a href="https://browsehappy.com/">upgrade your browser</a> to improve
		            your experience and security.
		        </p>
		                            <![endif]-->
		<div class="mw7 center pa3 pa4-ns">
			<div>
				<a href="/" class="b mr3 black link underline hover-bg-black-90 hover-yellow">home</a>
				<a href="javascript:alert('not yet!')" class="b mr3 black link underline hover-bg-black-90 hover-yellow">writing</a>
				<a href="/feed.xml" class="b black link underline hover-bg-black-90 hover-yellow">rss</a>
			</div>
			<div class="mb4 mt5 mb5-ns mt6-ns">
				{%- for post in collections.post %}
                    <div>
                        {{post.date | formatDate}} — <a href="{{post.url | url}}" class="black link underline hover-bg-black-90 hover-yellow">{{post.data.title}}</a>
                    </div>
				{%- endfor %}
				{% include 'partials/scripts.njk' %}
			</body>
		</html>
	</body>
</html>
