/** Tachyons "large" media query */
@media screen and (min-width: 60em) {
    /** Make everything a little bigger on tablets and desktops. */
    html {
        font-size: 20px;
    }
}

/** lazy load */
.no-js .lazyload {
    display: none;
}

/** My utilities */
body {
    font-family: Inter, sans-serif;
    transition: background-color 0.5s ease;
}

.banana-black {
    color: #1a1604;
}

.bg-banana-black {
    background-color: #1a1604;
}

.border-salem {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.entry-salem {
    position: relative;
}

.top-2px {
    top: 2px;
}

/* I don't like styling code blocks like this, but there's a bug in the 
   code I use to add classes to markdown's output: 
   https://github.com/HiroshiOkada/markdown-it-class/pull/3 */
:not(pre) > code {
    background: #1a1604;
    border-radius: 2px;
    color: white;
    padding: 4px 2px 2px;
    font-size: 0.9rem; /* so that it looks better inlined with text */
}

/* Same with this -_- */
hr {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.fade-in {
    -webkit-animation: fad1-in 0.5s ease;
    -z-animation: fade-in 0.5s ease;
    -o-animation: fade-in 0.5s ease;
    animation: fade-in 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
}

/* Make the scrollbar dark if we're gonna have a banana-colored website.
    Thank you, @patriciarealini
    https://twitter.com/patriciarealini/status/1300636410832068609
    */
html {
    --scrollbarBG: gold;
    --thumbBG: #1a1604;
    --scrollbarDarkBG: #1a1604;
    --thumbDarkBG: gold;
}
body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG);
    -webkit-scrollbar-width: thin;
    -webkit-scrollbar-color: var(--thumbBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* Thank you, https://codepen.io/nohoid/pen/kIfto */
.rainbow {
    background: linear-gradient(
        124deg,
        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3
    );
    background-size: 19% 15%;
    -webkit-animation: rainbow 0.5s ease infinite;
    -z-animation: rainbow 0.5s ease infinite;
    -o-animation: rainbow 0.5s ease infinite;
    animation: rainbow 0.5s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}

/** DARK MODE */

.dark .bg-yellow,
.dark.bg-yellow {
    background-color: #1a1604;
}

.dark .black,
.dark.black {
    color: #f1f2f6;
}

/* We're swapping banana black for this off-white that I kinda like. */
.dark .banana-black {
    color: #f1f2f6;
}

/* Code should still be dark, so we need to delineate it from its surroundings */
.dark pre {
    border: 1px solid #f1f2f6;
}

/* This is the "Salem" in "my name is Salem". */
.dark .yellow.bg-black-90 {
    background-color: #ffe659;
    color: #1a1604;
    border-radius: 2px;
}

/* And this is that border thing */
.dark .border-salem {
    border-bottom: 5px solid #ffe659;
    border-right: 5px solid #ffe659;
}

/* In dark backgrounds, thinner fonts are clearer */
.dark .b {
    font-weight: normal;
}

/* Make our code backgrounds be dark blue */
.dark :not(pre) > code[class*="language-"],
.dark pre[class*="language-"] {
    background: #192326;
}

/* Make inline codeblocks stand out */
.dark :not(pre) > code {
    background-color: #3b3b52;
}

/* Dull images a little */
.dark img {
    filter: brightness(0.8) contrast(1.2);
}

/* Make links visible */
.dark a.hover-bg-black-90:hover {
    background-color: #ffe659;
    color: #1a1604;
    border-radius: 2px;
}

html.dark {
    --scrollbarBG: #1a1604;
    --thumbBG: gold;
}
