---
eleventyNavigation:
  key: Developing in a Monorepo While Still Using Webpack
  url: https://codeascraft.com/2020/04/06/developing-in-a-monorepo-while-still-using-webpack/
title: Developing in a Monorepo While Still Using Webpack
date: 2020-04-06
permalink: false
tags: post
---