{# 
    If someone's using Internet Explorer, we should tell the that 
    they are personally responsible for my loss of hair.
#}
<!--[if IE]>  
    <p class="ba br1 mb4 pa3 blue bg-washed-blue browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
    </p>
<![endif]-->