<div>
    <a href="/" class="b mr3 black link underline hover-bg-black-90 hover-yellow">home</a>
    <a href="/writing" class="b mr3 black link underline hover-bg-black-90 hover-yellow">writing</a>
    <a href="/feed.xml" class="b mr3 black link underline hover-bg-black-90 hover-yellow">rss</a>
    <a href="mailto:hello@salem.io" class="b black link underline hover-bg-black-90 hover-yellow">contact</a>
</div>