---
eleventyNavigation:
  key: Etsy's Journey to TypeScript
  url: https://codeascraft.com/2021/11/08/etsys-journey-to-typescript/
title: Etsy's Journey to TypeScript
date: 2021-11-08
permalink: false
tags: post
---