{# 
    This is the homepage. It's hardcoded. Nothing fancy. I could generate it but
    I wrote it before I generated this website and it's fine this way.

    Todo: ok maybe generate it.
#}
<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>My name is Salem.</title>
        <meta name="description" content="This is my website."/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#ffd700"/>

        <meta name="author" content="Salem Hilal"/>
        <meta name="og:title" content="My name is Salem."/>
        <meta name="og:url" content="{{ globals.host }}"/>
        <meta name="og:type" content="profile"/>
        <meta name="og:description" content="This is my website."/>
        <meta name="og:image" content="{{ globals.host }}/img/thumb.png"/>
        <meta name="profile:first_name" content="Salem"/>
        <meta name="profile:last_name" content="Hilal"/>

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@technoheads"/>
        <meta name="twitter:title" content="My name is Salem."/>
        <meta name="twitter:description" content="This is my website."/>
        <meta name="twitter:image" content="{{ globals.host }}/img/thumb.png"/>
        <meta name="twitter:image:alt" content="My name is Salem. I care about web performance, front-end infrastructure, and public transportation. I am a software engineer on Etsy's Web Platform team."/>

        <script>document.documentElement.classList.remove("no-js");window.matchMedia("(prefers-color-scheme: dark)").matches?document.documentElement.classList.add("dark"):document.documentElement.classList.remove("dark")</script>
        <link rel="stylesheet" href="/style.css" type="text/css" media="all"/>
        {# <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet"> #}
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

    </head>

    <body class="bg-yellow fade-in black">
        <div class="mw7 center pa3 pa4-ns mb4">
            {% include 'partials/browserupgrade.njk' %}
            {% include 'partials/menu.njk' %}
            <!-- Hello This Is My Business Card™ -->
            <div class="mb4 mb5-ns mt6-ns">
                <!-- who am i? -->
                <h1 class="f1 lh-title border-salem pb1 mb3">
                    My name is
                    <span class="yellow bg-black-90">Salem</span>.
                </h1>
                <!-- who am i? -->
                <div class="f3 f2-ns lh-copy">
                    I care about web performance, front-end infrastructure, and public
                        transit. I am a founding engineer at 
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://www.getoctane.io">Octane</a>, 
                        and previously a staff engineer on
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://www.etsy.com/listing/212856925/million-dollar-frog">Etsy</a>'s
                        Web Platform team. I put my good ideas on
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://github.com/salemhilal">GitHub</a>
                        and my bad ideas on
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://twitter.com/technoheads">Twitter</a>.
                </div>
            </div>

            <div class="f3 f4-ns lh-copy">
                <!-- TODO: this divider is desktop-only. should it be? -->
                <div class="f4 b mb4 tc dn-ns">
                  —
                </div>

                <!-- TypeScript -->
                <div class="mb4 entry-salem">
                    I planned and lead the effort to migrate Etsy's codebase to TypeScript. The project was a huge success, and taught me a lot about making large-scale changes without interrupting work. I wrote about the experience 
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://codeascraft.com/2021/11/08/etsys-journey-to-typescript/">here</a>.
                </div>

                <!-- Kevin -->
                <div class="mb4 entry-salem">
                    I wrote a small server to make developing with Webpack in large codebases less painful. It is called
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://codeascraft.com/2020/04/06/developing-in-a-monorepo-while-still-using-webpack/">Kevin</a>
                        and it powers the development environment at Etsy. I wrote about why Kevin exists and how it works for Etsy's
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://codeascraft.com/2020/04/06/developing-in-a-monorepo-while-still-using-webpack/">Code as Craft</a> blog.

                </div>

                <!-- JSConf 2019-->
                <div class="mb4 entry-salem">
                    I gave a talk on migrating Etsy to Webpack at
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://2019.jsconf.us/speakers/salem-hilal">JSConf 2019</a>
                    and there's a
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://www.youtube.com/watch?v=nDAvXOePowM">video of it</a>. There are some
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://speakerdeck.com/salemhilal/jsconf-2019-we-started-using-webpack-and-it-took-a-while">slides</a>
                    as well, if that's your thing. I shortened the talk and gave it again
                                        at QueensJS, which was a
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://twitter.com/technoheads/status/1169442246565015553">lot of fun</a>.
                </div>

                <!-- Github Contributions -->
                <div class="mb4 entry-salem">
                    I've made small contributions to a number of projects, including to
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://github.com/prettier/prettier/pull/3830">Prettier</a>
                    and
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://github.com/webpack/webpack/issues/10771">Webpack</a>.
                </div>

                <!-- Here's my soundcloud -->
                <div class="mb4 entry-salem">
                    Sometimes I
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://salemhilal.bandcamp.com/music">make</a>
                    <a class="black link underline hover-bg-black-90 hover-yellow" href="https://kshack.bandcamp.com/album/reduction-kschk002">music</a>.
                </div>

                <div class="f4 b mb4 tc">
                  —
                </div>
            </div>
        </div>
        {% include 'partials/scripts.njk' %}
    </body>
</html>
